.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background: transparent;
  transition: all .3s ease-in;
  border-bottom: 1px solid #F5F7F2;
  &__wrap{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    position: relative;
  }
  &__left,&__right{
    display: flex;
    align-items: center;
  }
  &__right{
    justify-content: flex-end;
  }
  .container{
    @media (max-width: $tableWidth){

    }
  }
  &__logo{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    @media (max-width: $tableWidth) {

    }
    &-image{
      text-align: center;
      @media (max-width: $tableWidth){

      }
    }
    &-text{
      text-align: center;
      color: $mainFontColor;
      font-size: 14px;
      line-height: 18px;
    }
  }
  &--sticky{
    background: rgba(0,0,0,.4);


  }
  &__menu{

    @media (max-width: $tableWidth) {

    }
  }
}
