@import "utils/libs";
@import "utils/reset";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/spacing";
@import "utils/flex";
@import "utils/settings";

@import "components/elements/menu";
@import "components/elements/hamburger";
@import "components/elements/btns";
@import "components/elements/icons";
@import "components/elements/text";
//@import "components/elements/card";
//@import "components/elements/tabs";
//@import "components/elements/link";
//@import "components/elements/author";
//@import "components/elements/date";
//@import "components/elements/form";
//@import "components/elements/inputs";
//@import "components/elements/social-list";
//@import "components/elements/banner";
//@import "components/elements/badge";
@import "components/elements/scroll";

@import "components/sections/header";
@import "components/sections/hero";
@import "components/sections/about";
@import "components/sections/restaurants";
//@import "components/sections/gallery";
@import "components/sections/contacts";
//@import "components/sections/videos";
//@import "components/sections/show";
//@import "components/sections/second-hero";
//@import "components/sections/classes";
//@import "components/sections/raqsa";
@import "components/sections/footer";


//@import "components/elements/cart";



//@import "components/elements/pagination";
//@import "components/elements/breadcrumb";






//@import "components/sections/benefits";

//@import "components/sections/views";



//@import "components/sections/pluses";
//@import "components/sections/suppliers";


//@import "components/sections/news";


//@import "components/sections/products";
//@import "components/sections/digits";
//@import "components/sections/more";
//@import "components/sections/brand";
//@import "components/sections/gallery";
//@import "components/sections/cart";
//@import "components/elements/popup";




a {
  text-decoration: none;
}

a, button {
  transition: all 0.5s ease;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  border: none;
  background: transparent;
}

.img-fluid {
  width: 100%;
  height: auto;
}

#preloader{
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  video{
    width: 300px;
    height: 300px;
  }
}
.background--purple{
  background: $purple;
}
.time{
  opacity: .7;
  margin-bottom: rem(20);
}
