.btn{
  display: inline-block;
  transition: all .3s ease;
  cursor: pointer;
  font-size: 16px;
  line-height: 170.68%;
  color: $mainFontColor;
  border-radius: 40px;
  background: $brown;
  padding: 10px 30px;
  &:hover{
    padding-right: 20px;
    svg{
      margin-left: 25px;
    }
  }
  svg{
    margin-left: 15px;
    transition: all .3s ease;
  }
  @media (max-width: 1250px) {

  }
  &--trans{
    background: transparent;
    border: 1px solid $brown;
    color: $brown;
    svg{
      fill: $brown;
    }
  }
}
