.form{
  flex: 2 1;
  display: flex;
  flex-wrap: wrap;
  &__inputs{
    margin-right: rem(32);
  }
  &__input{
    position: relative;
    .input--placeholder{
      left: rem(12);
      color: $default-color;
    }
    &:last-child{
      >span.error{
        margin-top: rem(24);
      }
    }
  }
  input.input{
    width: 100%;
    transition: all .3s ease;
    &:focus{
      border: 1px solid $gold;
      &::placeholder{
        color: transparent;
      }
    }
    &.focus{
      padding-top: 1.5rem;
    }
  }
  &__inputs,&__textarea{
    width: calc(100%/2 - 16px);
    @media (max-width: $tableWidth) {
      width: 100%;
      margin-right: 0;
      margin-bottom: rem(28);
    }
  }
  &__textarea{
    position: relative;
    .input--textarea{
      width: 100%;
      transition: all .3s ease;
      &:focus{
        border: 1px solid $gold;
        &::placeholder{
          color: transparent;
        }
      }
      &.focus{
        padding-top: 18px;

      }
    }
    .input--placeholder{
      left: rem(12);
      color: $default-color;
    }
  }
}
