.menu{
  display: flex;
  list-style: none;
  height: 100%;
  &__item{
    height: 100%;
    transition: all .3s ease;
    background: transparent;
    &:hover{
      background: $mainFontColor;
      .menu{
        &__link{
          color: $black;
        }
        &__dropdown{
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
  &__link{
    transition: all .3s ease;
    padding: 0 36px;
    font-size: 18px;
    line-height: 25px;
    color: $mainFontColor;
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__dropdown{
    background: $mainFontColor;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    transition: all .3s ease;
    color: $black;
    padding: 40px;
    width: 100%;
    &-desc{
      max-width: 734px;
      text-align: center;
      color: #2D3739;
      margin: 0 auto;
    }
    &-gallery{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      column-gap: 30px;
      margin-top: 40px;
      img{
        width: 100%;
        height: auto;
        max-height: 244px;
        object-fit: cover;
      }
    }
  }
}
