.social-list{
  display: flex;
  align-items: center;
  &__item{
    margin-bottom: 0;
    margin-right: rem(28);
    &:last-child{
      margin-right: 0;
    }
    a{
      &:hover{
        opacity: .7;
      }
    }
    .icon{
      width: rem(18);
    }
    &:before{
      display: none;
    }
  }
}
