.tabs {
  &__item {

  }
  &__nav{
    &-link{
      color: #333232;
      font-size: rem(20);
      font-weight: 400;
      margin-right: rem(40);
      &:last-child{
        margin-right: 0;
      }
      &.active{
        color: $gold;
      }
    }
  }
}
