.text{
  &--uppercase{
    text-transform: uppercase;
  }
  &--center{
    text-align: center;
  }
  &--small{
    font-size: rem(10);
    line-height: rem(15);
  }
  &--medium{
    font-size: rem(17);
    line-height: rem(25);
  }
  &--bold{
    font-weight: bold;
  }
}
